doctype html
html(lang="ja")
  head
    meta(charset='utf-8')
    title= title
    meta(name='description' content='#{description}')
    meta(name='author' content='#{author}')
  body
    h1= title
    p hello world